*.pyc
*.swp
*config*.json
*config*.py
lineupSolver/win_rates
*.zip
*tmp*
lineupSolver/.DS_Store
lineupSolver/Copa_latam.csv
lineupSolver/SeasonFinishes/
lineupSolver/TournamentDecklists/
lineupSolver/common
lineupSolver/copa_america_feb18_archetypes.py
lineupSolver/copa_matchups.py
lineupSolver/custom_wr.csv
lineupSolver/decklists_kobolds
lineupSolver/hct_europe_0218.py
lineupSolver/input_wr.csv
lineupSolver/matchups2.py
lineupSolver/middle.py
lineupSolver/popular.py
lineupSolver/sim_matchup.py
lineupSolver/worlds
HearthstoneJSON/
.DS_Store
Decklists_Copa_Finals/
all_wrs/
*/logs/*
*Twitter*
